/* Login */
.log_wrapper {
	background: #6d5cae url('../../assets/images/login_bg.jpg') no-repeat center center;
}
.log_form {
	margin:0 auto;
	width: 445px !important;
}
.reg_form  .thumbnail {
	padding: 0px 30px 0px;
}
.reg_form  .form-header {
	padding-top:10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.reg_form  .form-header  .lead{
	margin-bottom: 10px;
}
.log_form  .thumbnail{
	padding: 25px;
}
.register-text {
	padding-top: 20px;
}
.text-white {
	color: #FFFFFF !important;
}


.navbar {
	border: 0px solid #dadada;
	border-radius: 0px;
}
.navbar-default {
	background-color: #211f2a;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: rgba(255,255,255,0.8);
	background-color: #383547;
	border-left: 4px solid #05D09A;
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:focus{
	color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav>li>a:hover {
color: rgba(255,255,255,0.8);
background-color: #383547;
}
#profile_drop>li>a {
	padding:9px 10px 9px 10px;
}
.header-profile {
	width: 32px;
	height: 32px;
	display: inline-block;
}
footer {
	margin-top:40px;
}

#demo {
	position: relative;
	left: 15px;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	padding: 10px;
}
.white-panel div.media-heading a {
	width:32px;
	height:40px;
	display:inline-block;
	margin-right:10px;
}
.white-panel h4.media-heading {
	display:inline-block;
	vertical-align:top;
}

.white-panel h1 {
	font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	margin-top: -5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}