/* Login */
.log_wrapper {
	background: #6d5cae url('../../assets/images/login_bg.jpg') no-repeat center center;
}
.log_form {
	margin:0 auto;
	width: 445px !important;
}
.reg_form  .thumbnail {
	padding: 0px 30px 0px;
}
.reg_form  .form-header {
	padding-top:10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.reg_form  .form-header  .lead{
	margin-bottom: 10px;
}
.log_form  .thumbnail{
	padding: 25px;
}
.register-text {
	padding-top: 20px;
}
.text-white {
	color: #FFFFFF !important;
}


.navbar {
	border: 0px solid #dadada;
	border-radius: 0px;
}
.navbar-default {
	background-color: #211f2a;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: rgba(255,255,255,0.8);
	background-color: #383547;
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:focus{
	color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav>li>a:hover {
color: rgba(255,255,255,0.8);
background-color: #383547;
}
#profile_drop>li>a {padding:0px 0px 0px 10px;}

footer {
	margin-top:40px;
}