/* Login */
.log_wrapper {
	background: #6d5cae url('../images/login_bg.jpg') no-repeat center center;
}
.log_form {
	margin:0 auto;
  float: none;
	/*width: 445px !important;*/
}
.reg_form .thumbnail {
	padding: 0px 30px 0px;
}
.reg_form .form-group .img-thumbnail img {
  width: 120px;
  height: 50px;
}
.log_form .form-header{
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.reg_form .form-header {
	padding-top:10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.log_form .form-header .lead, 
.reg_form .form-header .lead{
	margin-bottom: 10px;
}
.log_form  .thumbnail{
	padding: 25px;
}
.register-text {
	padding-top: 20px;
}
.text-white {
	color: #FFFFFF !important;
}


.navbar {
	border: 0px solid #dadada;
	border-radius: 0px;
}
.navbar-default {
	background-color: #211f2a;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: rgba(255,255,255,0.8);
	background-color: #383547;
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:focus{
	color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav>li>a:hover {
color: rgba(255,255,255,0.8);
background-color: #383547;
}
#profile_drop>li>a {padding:0px 0px 0px 10px;}

footer {
	margin-top:40px;
}

#demo {
	position: relative;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/*sidebar styles */
 .wrapper {
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid #6c6c6c;
  background-color: #fefefe; }

.link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; }

.main-content {
  padding: 80px 40px 20px;
  text-align: center; }
  .main-content > .main-content-header {
    padding-bottom: 80px; }
  .main-content > .main-content-body {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #d4d4d4;
    text-align: left; }
    .main-content > .main-content-body a {
      text-decoration: underline; }
    .main-content > .main-content-body > .main-content-body-inner {
      padding-top: 10px;
      padding-bottom: 20px; }
      .main-content > .main-content-body > .main-content-body-inner > h2 {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 12px solid #51648b;
        background-color: #313b4e;
        color: #91a1b9;
        font-size: 1.6rem; }
      .main-content > .main-content-body > .main-content-body-inner > h2 + ul {
        padding-left: 14px;
        padding-right: 14px; }
        .main-content > .main-content-body > .main-content-body-inner > h2 + ul > li + li {
          padding-top: 20px; }
      .main-content > .main-content-body > .main-content-body-inner h3 {
        border-bottom: 1px solid #51648b; }

.headline {
  font-size: 4.0rem;
  font-weight: 400;
  color: #51648b; }

.headline-main {
  color: #535353; }

.version {
  padding-top: 0;
  font-size: 1.4rem; }




.sidebar {
  background-color: #312f2f;
}
.sidebar li + li {
  margin-top: 12px;
}
.sidebar li a {
  padding: 4px 10px;
  display: block;
  color: #cecece;
}
.sidebar li a:hover {
  background-color: #424242;
}
.sidebar li .current {
  background-color: #51648b;
}
.jsc-sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 220px;
  height: 100%;
  padding: 20px;
}

.jsc-sidebar-content {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
  background-color: #FFF;
}

.jsc-sidebar-pulled {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.jsc-sidebar-pushed {
  -webkit-transform: translate3d(220px, 0, 0);
  -moz-transform: translate3d(220px, 0, 0);
  -ms-transform: translate3d(220px, 0, 0);
  -o-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0);
}

.jsc-sidebar-scroll-disabled {
  position: fixed;
  overflow: hidden;
}



.checkbox > label > label {
  padding: 0px;
}
.alert-danger ul {
  list-style: none;
  padding: 0;
}
span.required {
  color: #a94442;
}

.badge-danger {
  background-color: #d9534f;
}
.navbar-form {
  background-color: #FFFFFF;
  border-radius: 20px;
}
.navbar-form .btn {
  background: #fff;
}
.navbar-form .form-control{
  border: 1px solid rgba(204, 204, 204, 0);
  box-shadow: none;
}
.navbar-form .form-control:focus {
  border-color: rgba(102, 175, 233, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 8px rgba(102, 175, 233, 0);
}

#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 333;
  border: none;
  background-color: rgba(0, 0, 0, 0.44);
}

#content {
  min-height: 478px;
}

.feed-list .columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.feed-list .pin .thumbnail {
  margin-bottom: 10px;
}
.feed-list .pin {
  display: inline-block;
  background: #FEFEFE;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.feed-list .top-list-head .media .media-left a,
.feed-list .modal-header .media .media-left a,
.feed-list .modal-body .media .media-body .well .media-left a {
  border-radius: 6px;
  display: inline-block;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.feed-list .top-list-head .media .media-left a img,
.feed-list .modal-header .media .media-left a img,
.feed-list .modal-body .media .media-body .well .media-left a img {
  height: 42px;
  width: 42px;
}
.feed-list .top-list-head .media .media-body .media-heading .fa-facebook-square,
.feed-list .modal-content .fa-facebook-square {
  color: #3D61A7;
}


.feed-list .modal-dialog {
  margin: 0px auto 30px;
  /*
  right: -39.8% !important;
  height: 100%;
  width: 800px;
  top: 45px;*/
}
.feed-list .modal-body {
  height: 579px;
  overflow-y: auto;
}
.feed-list .modal-content {
  border-radius: 0px;
  min-height: 642px;
}
.feed-list .modal-content .close {
  float: left;
  position: absolute;
  left: -34px;
  background: #fff;
  opacity: 1;
  padding: 4px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.feed-list .modal-body .media-body {
  min-height: 547px;
  overflow-y: auto;
}

.feed-list .modal-body .media .media-body .well {
  padding: 10px;
  margin-top: 10px;
}
.feed-list .modal-body .media .media-body .well .media-body .form-inline .form-group {
  display: block;
}
.feed-list .modal-body .media .media-body .well .media-body .form-inline .form-group input {
  width: 92%;
}
.feed-list .modal-body .media .media-body .well .media {
  border-bottom: 1px solid #D0CECE;
  padding-bottom: 15px;
}
.feed-list .modal-body .media .media-body .well .media:last-child {
  border: none;
}